<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="https://snipboard.io/gLIwjS.jpg">
    <title>Mostly Serious Study Server</title>
    <style>
    </style>
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="text-txt"><h1>Mostly Serious Study Server</h1>
    <p>Welcome to the Mostly Serious Study Server webpage! The purpose of this webpage is to complement the Mostly Serious Study Discord Server and to offer a list of existing study materials, and additional useful resources. If you have any suggestions to improve this page, feel free to put them in the suggestions channel of the server!</p>

    <h2 id="about-the-server">About The Server</h2>
    <h3>Server History</h3>
    <p class="content-text">The Mostly Serious Study Server was intially created at the start of the 2020-21 school year by a couple of friends who wanted to share study material with each other, and to help each other with schoolwork & academics. Over time, the server has grown to include several dozen members with a similar goal in mind, and has amassed a fairly wide catalog of member-created & external study guides to attest to this. We hope that the server will continue to grow and help more people study & succeed. The Mostly Serious Study Server currently serves the Millburn Class of 2025.</p> 
    <h3>Purpose of the Server</h3>
    <p class="content-text">The purpose of The Mostly Serious Study Server is to provide a convenient platform for members to help each other with school & homework. Members can share study material, arrange study sessions, and ask questions regarding recent assignments or upcoming assessments. If you have created or have access to any study material that you think will be helpful for other people, we encourage you to share it with everyone in the server. In addition, if you have a question, whether it be related to class or the server itself, don't be afraid to ask.</p>
    <br>

    <!--Website Updates-->
    <div class="websiteUpdates">
      <h3 id="scrollerTitle">Website Updates</h3>
      <p class="scrollerBody">June 29, 2022 - Improved formatting in the Study Guide Archive with collapsible tables
        <br>
        <br>
        June 17, 2022 - Improved formatting on mobile platforms
        <br>
        <br>
        May 8, 2022 - Added dark mode support, hovering over links will now change color
        <br>
        <br>
        April 10, 2022 - Added a collapsible table of contents for the Study Guide Archive
        <br>
        <br>
      Febuary 28, 2022 - Changed Font Family to Sans Serif, additional restyling
        <br>
        <br>
      December 22, 2021 - Midterm maintenance
        <br>
        <br>
      November 13, 2021 - Study Guide Archive reformatting
        <br>
        <br>
      July 27, 2021 - Added navigation sidebar and additional webpages 
        <br>
        <br>
      June 28, 2021 - Website created</p>
    </div>
    <br>

    <!--Sidebar-->
    <div class="sidebar">
      <div id="sanic"><img src="https://snipboard.io/Bp6ozv.jpg" width="120" alt="Why isn't this working?">
      </div>
      <div id=sidebar-title><strong>Mostly Serious Study Server</strong></div>
      <button type="button" class="collapsible"><strong>Navigation</strong></button> 
      <div class="navLinks">
      <div><a href="/index.html">Homepage</a></div>
      <div><a href="/archive.html">Study Guide Archive</a></div>
      <div><a href="/resources.html">Resources</a></div>
      <div><a href="https://discord.com/channels/753010217389785258/753010955922833578" target="_blank">Mostly Serious Study Server (Discord)</a></div></div>
    </div></div>
    <script src="script.js"></script>
  </body>
</html>