<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link href="{{ url_for('static', filename = 'css/archive.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
    <a href = "/logout">Log out</a>
    <!-- <p>YOU LOGGED IN. NOW SLEEP YA SCUMBAG</p> -->
    <table>
    <tr>
        <th>ID</th>
        <th>Accept request</th>
        <th>Title</th>
        <th>URL</th>
        <th>Type of Resource</th>
        <th>Contributor(s)</th>
    </tr>
    {% for r in rs %}
        {% set id = r[0] %}

        {% set title = r[1] %}
        {% set url = r[2] %}
        {% set type = r[3] %}
        {% set contributors = r[4] %}

        
        <tr>
            <td><a href = "/accept/{{id}}">Accept id {{id}}</a></td>
            <!-- <td>/accept/{{id}}</td> -->
            <td>{{id}}</td>
            
            <td>{{title}}</td>
            <td>{{url}}</td>
            <td>{{type}}</td>
            <td>{{contributors}}</td>
        </tr>
        
    {% endfor %}
    </table>

</body>
</html>