<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="https://snipboard.io/YNXJnp.jpg">
    <title>Resources</title>
    <style>
    </style>
    <link href="{{ url_for('static', filename = 'css/resources.css') }}" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <div id="text-txt"><h1>Additional Resources</h1>
    <p>A list of some additional resources for your convenience. If you have any suggestions to improve this page, feel free to put them in the suggestions channel of the server!</p>

    <table>
      <thread>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td><a href="https://millburn.powerschool.com/public/" target="_blank">PowerSchool</a></td>
          <td>Access your schedule and keep track of your grades & attendance</td>
        </tr>
        <tr>
          <td><a href="https://drive.google.com/drive/folders/0BytHEdOU5suiZU1ZR2w4dDQ2czg?resourcekey=0-2rnog7nwl51dsap7gxGPIQ" target="_blank">School Calendars</a></td>
          <td>Know what days we have off</td>
        </tr>
        <tr>
          <td><a href="https://4.files.edl.io/e7ab/09/06/21/164416-980c4dd1-c652-426f-9c17-8908e5deaea9.pdf" target="_blank">MHS Student Handbook</a></td>
          <td>General information and guidelines about the High School</td>
        </tr>
        <tr>
          <td><a href="https://4.files.edl.io/64da/03/10/21/115128-a640a771-1d66-4324-928d-aba99dedc8fe.pdf" target="_blank">MHS Course Catalog</a></td>
          <td>Courses offered by the High School</td>
        </tr>
        <tr>
          <td><a href="https://www.millburn.org/" target="_blank">Millburn Township Schools</a></td>
          <td>Official Millburn Township Public Schools website</td>
        </tr>
        <tr>
          <td><a href="https://launchpad.classlink.com/millburn" target="_blank">Millburn Classlink</a></td>
          <td>A collection of services & website subscriptions offered to MHS students by Millburn</td>
        </tr>
        <tr>
          <td><a href="https://millburn.libguides.com/c.php?g=615417&p=4280202" target="blank">MHS Library Media Center</a></td>
          <td>Links to databases, citation tools, Follett Destiny, and more</td>
        </tr>
        <tr>
          <td><a href="https://millburn.mackinvia.com/dashboard" target="_blank">Mackinvia</a></td>
          <td>A collection of eBooks & Audiobooks offered by the MHS Library (Log in through Classlink)</td>
        <tr>
          <td><a href="https://www.youtube.com/playlist?list=PL6IL48c9kQDQLG_eFR4c5fj6Y4Im_cNjg" target="_blank">Señor Pearl - Greatest Hits</a></td>
          <td>Algo</td>
        </tr>
        <tr>
          <td><a href="https://www.youtube.com/playlist?list=PL6IL48c9kQDRO26kZDiMSaB1aYnMFkxOg" target="_blank">Mr. Grauer - Greatest Hits</a></td>
          <td>To help you achieve the blessed life</td>
        </tr>
        <tr>
          <td><a href="https://www.khanacademy.org" target="_blank">Khan Academy</a></td>
          <td>A great resource for educational videos & practice on a variety of subjects</td>
        </tr>
      </tbody>
    </table>

  <!--Sidebar-->
   <div class="sidebar">
      <div id="sanic"><img src="https://snipboard.io/Bp6ozv.jpg" width="120" alt="Why isn't this working?">
      </div>
      <div id=sidebar-title><strong>Mostly Serious Study Server</strong></div>
     <button type="button" class="collapsible"><strong>Navigation</strong></button> 
      <div class="navLinks">
      <div><a href="/">Homepage</a></div>
      <div><a href="/archive">Study Guide Archive</a></div>
      <div><a href="/resources">Resources</a></div>
      <div><a href="https://discord.com/channels/753010217389785258/753010955922833578" target="_blank">Mostly Serious Study Server (Discord)</a></div>
    </div></div>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>

  </body>
</html>