<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Resource</title>
    <link href="{{ url_for('static', filename = 'css/archive.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
    <p>Your request will be sent and approved by the mods.</p>
    <form action = "/submit-item" method = "POST">
        <p>Select subject.</p>
        <select name = "subject">
            <option value = "AP Biology,Science">AP Biology</option>
            <option value = "English 10,English">English 10</option>
            <option value = "Algebra II,Math">Algebra II</option>
            <option value = "AP Euro,Social Studies">AP Euro</option>
            <option value = "US I,Social Studies ">US I</option>
            <option value = "French,World Language">French 4</option>
            <option value = "Spanish,World Language">Spanish</option>
            <option value = "Mandarin,World Language">Mandarin</option>
            <option value = "Latin,World Language">Spanish 4</option>
            <option value = "10th Grade Electives,Other">10th Grade Elective</option>
        </select>
        <p>Enter title of resource</p>
        <input type = "text" name = "title">
        <p>Enter link to resource. (copy url from searchbar - DO NOT type it in manually)</p>
        <input type = "text" name = "url">
        
        <p>Select type.</p>
        
        <select name = "type">
            <option value = "Quizlet">quizlet</option>
            <option value = "Google Resource">google resource</option>
            <option value = "Youtube">youtube</option>
            <option value = "SpanishDict">spanishdict</option>
            <option value = "Other">other</option>
        </select>

        <p>Enter contributor(s).</p>
        <input type = "text" name = "contributors">

        <input type = "submit">
        
    </form>

    <script>
        
    </script>
</body>
</html>