<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Resource</title>
    <link href="{{ url_for('static', filename = 'css/archive.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
    <p>Your request will be sent and approved by the mods.</p>
    <form action = "/submit-item" method = "POST">
        <p>Select subject.</p>
        <select name = "subject">
            <option value = "English 9">english</option>
            <option value = "Integrated Geoscience">Integrated Geoscience</option>
            <option value = "Geometry">Geometry</option>
            <option value = "World History">World History</option>
            <option value = "Other">Other</option>
            
        </select>
        <p>Enter title of resource</p>
        <input type = "text" name = "title">
        <p>Enter link to resource. (copy url from searchbar - DO NOT type it in manually)</p>
        <input type = "text" name = "url">
        
        <p>Select type.</p>
        
        <select name = "type">
            <option value = "Quizlet">quizlet</option>
            <option value = "Google Resource">google resource</option>
            <option value = "Youtube">youtube</option>
            <option value = "SpanishDict">spanishdict</option>
            <option value = "Other">other</option>
        </select>

        <p>Enter contributor(s).</p>
        <input type = "text" name = "contributors">

        <input type = "submit">
        
    </form>

    <script>
        
    </script>
</body>
</html>